venv/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.sqlite3
*.db
# Auditoria
estructura_*.txt
dependencias.txt

# Documentos de prueba
# Documentos de prueba
test_output*.docx
test_generate*.docx

.env
.env.*